@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&display=swap');

.landing__page-carousel {
    position: relative;
    background-color: #fff;
    overflow: hidden;
    width: 100%;
}

.landing__page-carousel__container {
    display: flex;
    width: 100%;
}

.landing__page-carousal__slogan {
    color: white;
    font-family: 'Antonio', sans-serif;
    font-size: 3rem;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing__page-carousal__slide {
    filter: contrast(60%);
    width: 100%;
    height: 400px;
    flex: 0 0 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
