.BackGroundMain {
    background-color: var(--main-color)!important;
}

.navbar {
    padding: 15px;
    display: grid;
    align-items: center;
}

.navbar img:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
}

@media (max-width: 1024px) {
    .navbar-burger {
        align-self: center;
    }

    .navbar-end {
        padding: 15px;
    }
}

.navbar-item {
    font-size: 1.2rem;
    font-weight: 500;
}

.navbar-end {
    align-self: center;
    display: flex;
}


.navbar-end .navbar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: unset;
    border-radius: 5px;
    margin: 0 15px;
}

.navbar-item {
}

.navbar-item:hover,
.navbar-item:focus,
.navbar-item:active,
.navbar-item:target,
.navbar-link:hover {
    background-color: white!important;
    color: var(--main-color)!important;
}

.logo__style {
    max-height: 5rem!important;
    width: auto;
}
