.loading__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: absolute;
}

.login__page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    max-width: 500px;
    width: 100%;
    padding: 2rem;
    justify-self: center;
    align-self: center;
    flex-direction: column;
}

.login__page__form {
    flex-direction: column;
    gap: 2rem;
    border-radius: 10px;
    width: 100%;
    padding: 3rem;
    height: auto;
    background-color: #fff;
    display: flex;
}

.error__auth {
   margin-top: 1rem; 
   margin-bottom: 1rem;
}
