.about__slogans {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
    margin-bottom: 5%;
}

.about__slogans__info {
    margin-top: 10%;
    display: flex;
    gap: 3rem;
    justify-content: center;
}

.about__slogans__info__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.about__slogans__info img {
    max-width: 600px;
    object-fit: cover;
    height: auto;
}

#rotate-right {
    transform: rotate(5deg);
}

#rotate-left {
    transform: rotate(-5deg);
}

.about__slogans__info__title {
    font-size: 3rem;
    font-weight: 500;
}

.about__slogans__info__description {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 1rem;
}

@media (max-width: 1350px) {
    .about__slogans__info {
        flex-direction: column;
        gap: 4rem;
    }

    .about__slogans__info img {
        max-width: 80%;
        align-self: center;
        height: auto;
    }
}

