#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: auto;
  width: 100%;
}

#root > * {
  width: 100%;
}

.clickable {
  cursor: pointer;
}

.load_all {
    display: flex;
    justify-content: center;
    z-index: 100;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.load_backdrop {
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
}

.load_backdrop_normal {
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.item_loader {
    width: 100%;
    min-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

