@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #ffde09;
  --system-color: #0f1319;
  --dark-theme: #212121;
  --dark-theme-hover: #3a3a3a;
  --dark-theme-light: #1b1b1b;
  --dark-theme-dark: #0f0f0f;
}

html {
  line-height: 1.15;
  height: 100%;
  webkit-text-size-adjust: 100%;
  tab-size: 4;
  overflow-y: scroll;
  background-color: var(--system-color);
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f1f1f1;
  height: auto;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

#root > * {
  width: 100%;
}

body::-webkit-scrollbar {
  width: 0.3rem;
}

body::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

body::-webkit-scrollbar-track {
  background-color: var(--system-color);
}

.dark__theme__container {
  background-color: var(--dark-theme) !important;
  color: white !important;
}

.dark__theme {
  background-color: var(--dark-theme) !important;
  color: white !important;
  transition: all 0.3s ease-in-out;
}

.dark__theme__hover {
  background-color: var(--dark-theme-hover) !important;
  color: white !important;
}

.dark__theme:hover {
  transition: all 0.3s ease-in-out;
}

.dark__theme__LIGHTER {
  background-color: var(--dark-theme-light) !important;
  color: white !important;
}

.dark__theme__NO_BORDER {
  background-color: var(--dark-theme) !important;
  color: white !important;
  border: none !important;
}

.dark__theme__PURE_BLACK {
  background-color: var(--dark-theme-dark) !important;
  color: white !important;
}
